.wordWrapper{
    padding: 0;
    margin: 0;
    display: block;
}
/*display: inline; /* the default for span 
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;  
  background-color: yellow;*/